-- CreateTable
CREATE TABLE "spirit_upgrades" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "spiritId" TEXT NOT NULL,
    "upgradeType" TEXT NOT NULL,
    "level" INTEGER NOT NULL DEFAULT 1,
    "xp" INTEGER NOT NULL DEFAULT 0,
    "unlockedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "spirit_upgrades_spiritId_fkey" FOREIGN KEY ("spiritId") REFERENCES "spirits" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "daily_puzzles" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "puzzleId" TEXT NOT NULL,
    "date" DATETIME NOT NULL,
    "streakBonus" INTEGER DEFAULT 0,
    CONSTRAINT "daily_puzzles_puzzleId_fkey" FOREIGN KEY ("puzzleId") REFERENCES "puzzle_levels" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "puzzle_levels" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "difficulty" TEXT NOT NULL DEFAULT 'MEDIUM',
    "puzzleData" TEXT NOT NULL,
    "solution" TEXT NOT NULL,
    "reward" TEXT NOT NULL,
    "unlockLevel" INTEGER NOT NULL DEFAULT 1,
    "timeLimit" INTEGER NOT NULL DEFAULT 300,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "completed" INTEGER NOT NULL DEFAULT 0,
    "successRate" REAL NOT NULL DEFAULT 0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "spirit_puzzle_progress" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "spiritId" TEXT NOT NULL,
    "puzzleId" TEXT NOT NULL,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "completed" BOOLEAN NOT NULL DEFAULT false,
    "bestTime" INTEGER,
    "score" INTEGER NOT NULL DEFAULT 0,
    "lastAttempt" DATETIME NOT NULL,
    "completedAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "spirit_puzzle_progress_spiritId_fkey" FOREIGN KEY ("spiritId") REFERENCES "spirits" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "spirit_puzzle_progress_puzzleId_fkey" FOREIGN KEY ("puzzleId") REFERENCES "puzzle_levels" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "hatching_records" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "spiritId" TEXT NOT NULL,
    "startTime" DATETIME NOT NULL,
    "endTime" DATETIME,
    "status" TEXT NOT NULL,
    "finalProgress" REAL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "hatching_records_spiritId_fkey" FOREIGN KEY ("spiritId") REFERENCES "spirits" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "hatching_interactions" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "spiritId" TEXT NOT NULL,
    "interactionType" TEXT NOT NULL,
    "intensity" REAL DEFAULT 1.0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "hatching_interactions_spiritId_fkey" FOREIGN KEY ("spiritId") REFERENCES "spirits" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "social_posts" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "spiritId" TEXT,
    "content" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "scheduledAt" DATETIME,
    "publishedAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "social_posts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "social_posts_spiritId_fkey" FOREIGN KEY ("spiritId") REFERENCES "spirits" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "player_locations" (
    "userId" TEXT NOT NULL PRIMARY KEY,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "accuracy" REAL,
    "altitude" REAL,
    "speed" REAL,
    "heading" REAL,
    "lastUpdate" DATETIME NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "player_locations_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "hotspots" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "type" TEXT NOT NULL,
    "popularity" INTEGER NOT NULL DEFAULT 1,
    "radius" INTEGER NOT NULL DEFAULT 100,
    "spawnTypes" TEXT NOT NULL DEFAULT '[]',
    "bonusRate" REAL NOT NULL DEFAULT 1.0,
    "peakHours" TEXT NOT NULL DEFAULT '[]',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "location_spawns" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "rarity" TEXT NOT NULL DEFAULT 'COMMON',
    "spawnRate" REAL NOT NULL DEFAULT 0.5,
    "radius" INTEGER NOT NULL DEFAULT 100,
    "availableSpirits" TEXT NOT NULL,
    "activeSpawn" TEXT NOT NULL,
    "spawnStartTime" DATETIME NOT NULL,
    "spawnEndTime" DATETIME NOT NULL,
    "cooldownHours" INTEGER NOT NULL DEFAULT 24,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "location_visits" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "locationId" TEXT NOT NULL,
    "spiritId" TEXT,
    "spiritFound" BOOLEAN NOT NULL DEFAULT false,
    "visitedAt" DATETIME NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "location_visits_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "location_visits_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES "location_spawns" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "location_visits_spiritId_fkey" FOREIGN KEY ("spiritId") REFERENCES "spirits" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ar_captures" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "spiritId" TEXT NOT NULL,
    "locationId" TEXT NOT NULL,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "arData" TEXT NOT NULL,
    "captureTime" INTEGER NOT NULL,
    "accuracy" REAL NOT NULL,
    "xpEarned" INTEGER NOT NULL,
    "itemsFound" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "ar_captures_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "ar_captures_spiritId_fkey" FOREIGN KEY ("spiritId") REFERENCES "spirits" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "ar_captures_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES "location_spawns" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- RedefineTables
PRAGMA defer_foreign_keys=ON;
PRAGMA foreign_keys=OFF;
CREATE TABLE "new_squads" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL DEFAULT '????頩???',
    "maxSize" INTEGER NOT NULL DEFAULT 4,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "squads_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO "new_squads" ("createdAt", "id", "maxSize", "name", "updatedAt", "userId") SELECT "createdAt", "id", "maxSize", "name", "updatedAt", "userId" FROM "squads";
DROP TABLE "squads";
ALTER TABLE "new_squads" RENAME TO "squads";
CREATE UNIQUE INDEX "squads_userId_key" ON "squads"("userId");
PRAGMA foreign_keys=ON;
PRAGMA defer_foreign_keys=OFF;

-- CreateIndex
CREATE UNIQUE INDEX "spirit_upgrades_spiritId_upgradeType_key" ON "spirit_upgrades"("spiritId", "upgradeType");

-- CreateIndex
CREATE UNIQUE INDEX "daily_puzzles_date_key" ON "daily_puzzles"("date");

-- CreateIndex
CREATE UNIQUE INDEX "spirit_puzzle_progress_spiritId_puzzleId_key" ON "spirit_puzzle_progress"("spiritId", "puzzleId");

